.steam{
    height: 105px;
    width: 100%;
    top: 0;
    left: 0;

    background-color: #171d25;
 
}
.podsteam{
    padding-top: 105px;
    width: 100%;
    left: 0;
    height: 40px;
    background-color: rgba(17, 17, 29, 0.567);
}
.txt{
    font-size: 16px;
    color: aliceblue;
    padding-left: 5px;
    padding-top: 5px;
}